body{
	margin: 0 auto;
	background: url("images/fondo8.jpg") no-repeat fixed right bottom;
}


header img{
    width: 100%; 
    max-width: 100%;
    height: auto; 
    display: block; 
}

#cabecera{
	background: #fff url("images/gotas.jpg") scroll no-repeat 0 0;
	padding:30px;
	color:white;
}
#cuerpo{
	margin-top:20px;
	margin-left: 150px;
}

#navegacion{
	margin-top:20px;
	width: 140px;
	position: static;
	left:0;
	display:inline-block;
	float:left;
	text-align: center;
}
#navegacion a{
	margin: 7px;
	display:inline-block;
	width: 115px;
}
#usuario
{
	color: white;
	position:absolute;
	top: 30px;
	right: 10px;
}
#sesion {
	text-decoration:underline;
	position: absolute;
	right: 10px;
}
#footer {
	position: fixed;
	font-style:oblique;
	bottom: 0;
	right: 0;
	color: grey;
	font-size: 10pt;
	margin: 5px;
}