body{
	margin: 0 auto;
	background: url("images/fondo8.jpg") no-repeat fixed right bottom;
}


header img{
    width: 100%; 
    max-width: 100%;
    height: auto; 
    display: block; 
}

h3 {
	font-weight: bold;
}
#cabecera{
	background: #fff url("images/gotas.jpg") scroll no-repeat 0 0;
	padding:30px;
	color:white;
	font-family: Roboto;
}
#cabecera a,a:visited {
	color: #fff;
	text-decoration: none;
}
#cabecera a:hover {
	color: #b63b4d;
	text-decoration: none;
}
#cabecera .separador {
	padding:20px;
}
i .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: Roboto;

    /* Position the tooltip */
    position: absolute;
    right:10px;
    top:20px;
    z-index: 1;
}
i:hover .tooltiptext {
    visibility: visible;
}
#cuerpo{
	margin-top:20px;
	margin-left: 150px;
	
}

#usuario
{
	color: white;
	position:absolute;
	top: 30px;
	right: 10px;
	background-color: #394668;
	border:white 1px solid;
	padding:15px;
	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
}
#sesion {
	text-decoration:underline;
}
#footer {
	position: fixed;
	font-style:oblique;
	bottom: 0;
	right: 0;
	color: grey;
	font-size: 10pt;
	margin: 5px;
}
#tablalistado {
	background-color: rgba(255, 255, 255, 0.85);
}

/*Desde aqui va el menu */
#accordion {
	margin: 8px;
	margin-top: 20px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}
ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

td {
	padding-left: 10px !important;
	min-width: 100px;
}
th {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
table {
	font-size: 80%;
}


/** =======================
 * Contenedor Principal
 ===========================*/
 .accordion {
 	cursor:pointer;
 	width: 133px;
 	background: #394668;
 	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
 }

.accordion .link {
	margin-left:-20px;
	display: block;
	padding: 15px 15px 15px 43px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #fff;
	padding:5px;
	background-color:#394668;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;
}

.accordion li i.fa-chevron-down {
	right: 5px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #C92737;
}

.accordion li.open i {
	color: #C92737;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #fff;
 	font-size: 14px;
 	padding:0px;
 }


 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #595959;
 	padding: 12px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #C92737;
 	color: #FFF;
 }

/* IMPRESIÓN */

.impresion {
	padding: 50px;
	
}
