#body{
	margin: 0 auto;
}


header img{
    width: 100%; 
    max-width: 100%;
    height: auto; 
    display: block; 
}

#cabecera{
	background: #fff url("images/cabecera1.jpg") scroll no-repeat 0 0;
}
#cuerpo{
	margin-left: 135px;
}

#navegacion{
	width: 130px;
	position: static;
	left:0;
	display:inline-block;
	float:left;
	text-align: center;
}
#navegacion a{
	display:inline-block;
	width: 115px;
}